.developer_inner {
  display: flex;
  flex-wrap: wrap;
  &.overflow {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .developer {
    .developer_img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10px;
    }
    .developer_info {
      width: 150px;
      text-align: center;
      @include line-one;
      padding-bottom: 40px;
    }
  }
}
@media (max-width: 1200px) {
  .developer_inner {
    justify-content: center;
    .developer {
      .developer_img {
        width: 130px;
        height: 130px;
        margin: 0 auto;
      }
      .developer_info {
      }
    }
  }
}
@media (max-width: 800px) {
  .developer_inner {
    margin-top: 70px;
  }
}
