.header_logo {
  border-bottom: 1px solid var(--black200);
  a {
    display: flex;
    padding: 10px;
    margin: 10px;
    em {
      width: 40px;
      height: 40px;
      display: block;
      background-color: var(--red);
      margin-right: 10px;
      animation: ani 10s 10s ease-in-out infinite;
    }
    span {
      font-size: 20px;
      line-height: 1;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.header_menu {
  padding: 10px 0;
  .menu {
    border-bottom: 1px solid var(--black200);
    li {
      margin-bottom: 5px;
      a {
        font-size: 1rem;
        display: block;
        padding: 0.9rem 2rem 0.9rem 3.125rem;
        background-color: var(--black100);
        margin: 0 0.625rem;
        border-radius: 40px;
        line-height: 1;
        position: relative;
        color: var(--white100);
        svg {
          width: 1.25rem;
          height: 1.25rem;
          position: absolute;
          left: 1.25rem;
          top: 0.75rem;
        }
        &:hover {
          background-color: var(--black200);
          color: var(--white);
          transition: 0.3s;
        }
      }
      &.active a {
        background-color: var(--black200);
        color: var(--white);
      }
    }
  }
  .keyword {
    padding: 1.25rem;
    line-height: 1;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 5px 15px;
        border: 1px solid var(--black200);
        font-size: 0.8rem;
        border-radius: 40px;
        margin: 3px 1px;
        &:hover {
          background-color: var(--black200);
          color: var(--white);
          transition: 0.3s;
        }
      }
    }

    &.active a {
      background-color: var(--black200);
      color: var(--white);
    }
  }
}

.header_sns {
  position: fixed;
  width: 260px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px 0 10px;
  background-color: var(--blackA100);
  backdrop-filter: blur(10px);
  li {
    display: inline-block;
    a {
      padding: 5px 7px;
      display: inline-block;
    }
  }
}

// animation
@keyframes ani {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1024deg);
  }
  100% {
    transform: rotate(0);
  }
}
